
.navbar {
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    /* position: fixed;
    top: 500px; */
    /* height: 1vw; */
    width: 100vw;
}

.middle {
    padding: 0px;
    width: 100vw;
}

#appLoginWhite {
    color: white;
    outline: 0;
    /* font-size: 2vw; */
    /* padding: 1vw; */
}
