.navbar {
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    /* height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.middle {
    padding: 0px;
}

#appLoginWhite {
    color: white;
}


.App {
    /* text-align: center; */
    /* background-image: url("./images/backgroundv1.jpg"); */
    /* background-repeat: no-repeat; */
<<<<<<< HEAD
    /* background-size: 100vw 56vw; */
=======
    background-size: 100vw 56vw;
>>>>>>> c66a1200a9bf60e6b624fb04c635af05b460f15f
    /* width: 60vw;
    height: 40vw; */
}

.appbackground {
    /* width: 100vw;
    height: 54.5vw; */
}

.left {
<<<<<<< HEAD
    /* background-color: black;
=======
    /* background-color: black; */
>>>>>>> c66a1200a9bf60e6b624fb04c635af05b460f15f
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px; */
}

.left h5 {
    /* font-size: 20px; */
<<<<<<< HEAD
    /* color: black; */
=======
    color: black;
>>>>>>> c66a1200a9bf60e6b624fb04c635af05b460f15f
    /* display: none; */
}

.left a {
    /* color: white;
    width: 200px;
    font-size: 1.5em;
    margin: 0px;
    margin-top: 1.7vw;
    display: flex;
    justify-content: flex-end;
    width: 25vw; */
}

#routeLink {
    /* padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 13vw;
    height: 54.5vw;
    margin-left: 3.65vw; */
}

#routeLink #appbutton {
    /* outline: 0;
    margin-top: 20px;
    margin-bottom: 180px;
    background-color: transparent;
    border: 0px;
    font-size: 2.5vw;
    color: #A2151D;
    font-weight: bold; */
}