
#topIconMargin {
    margin: 1vw 1vw 1vw 0vw;
    color: white;
}

#appRight{
    float: left;
}

.top_icon {
    background-color: transparent;
    border:none;
}
.top_icon img{
    width: 20px;
    height: auto;
    transition: width 0.5s;
}
.top_icon span {
    padding: 5px 7px;
}
.top_icon img:hover {
    width: 25px;
    height: auto;
}