#contractCreate {
    background-color: white;
    margin-top: 5vw;
    /* height: 480px */
}

#contractLeft {
    border-right: 1px;
}

#contractCreate #contractProduct {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#contractProduct input {
    outline: 0;
    /* font-weight: bold; */
    font-size: 2vw;
    text-align: center;
}

#contractCreate input {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #AFAFAF;
}

#contractCreate input::placeholder {
    color: #AFAFAF;
}

#contractPrice {
    display: flex;
    justify-content: center;
    margin: 1vw;
}

#contractPrice input {
    width: 2vw;
    font-size: 1.5vw;
    text-align: center;
}

#contractPrice input::placeholder {
    /* width: 2vw;
    font-size: 2vw;
    text-align: center; */
    /* color: #DDDDDD; */
}

#contractPercentage input {
    width: 75px;
}

#contractPercentage label {
    margin: 0px;
}

#contractParticipantTitle {
    text-align: center;
    font-size: 2vw;
}

.contractPeople {
    /* background-color: #F8F8FA; */
    margin: 1vw;
    width: 10vw;
}

.contractPeople input {
    margin: 0.5vw;
}

#contractFontCol {
    background-color: #F8F8FA;
    width: 10vw;
    height: 10vw;
}

#contractFont {
    font-size: 6vw;
    color: #AFAFAF;
    border: 1px;
    border-color: black;
}

#contractParticipantContent {
    background-color: #F8F8FA;
    width: 30vw;
    height: 10vw;
}

.contractDescription textarea {
    border: 0px;
    text-align: left;
    width: 350px;
    margin-left: 5px;
}

#contractButton {
    display: flex;
    justify-content: center;
}

#contractButton button {
    outline: 0;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

#contractButton button:hover {
    color: #A2151D;
}

#confirmTitle {
    text-align: center;
}

#confirmProductAndPrice {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 15px;
}

#confirmParticipant {
    border-bottom: 1px solid grey;
    margin: 5px;
}

#confirmParticipant label {
    margin: 1px;
}

#confirmParticipant div {
    margin: 0px;
}

#confirmParticipantGroup {
    display: flex;
    flex-direction: row;
}

#confiremDescription {
    display: flex;
    flex-direction: row;
}

#confirmButton {
    display: flex;
    justify-content: center;
}

#confirmButton button {
    outline: 0;
    background-color: transparent;
    border: 0px;
    color: grey;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#confirmButton button:hover {
    color: #A2151D;
}