#contractCreate {
    background-color: white;
    margin-top: 3vw;
}

#contractLeft {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* width: 50vw; */
}

#contractProduct {
    text-align: center;
}

#contractProduct input {
    outline: 0;
    font-size: 2vw;
    text-align: center;
}

#contractCreate input {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #AFAFAF;
}

#contractCreate input::placeholder {
    color: #AFAFAF;
}

#contractPrice {
    display: flex;
    justify-content: center;
    margin: 1vw;
}

#contractPrice label {
    font-size: 2.5vw;
}

#contractPrice input {
    margin-left: 1vw;
    width: 10vw;
    font-size: 1.5vw;
    text-align: center;
}

#contractPrice label {
    font-weight: normal;
}

#contractParticipantTitle {
    text-align: center;
    font-size: 2vw;
}

/* .contractPeople {
    padding: 1vw;
} */

.contractPeople input {
    margin: 0.5vw 0.5vw 0.5vw 0vw;
}

#contractFontCol {
    background-color: #F8F8FA;
    /* width: 10vw; */
    height: 13vw;
    padding: 0px;
    /* margin: 1vw 0vw 1vw 3vw; */
    margin-bottom: 1vw;
    /* margin-left: 1vw; */
}

#contractFont {
    font-size: 8vw;
    color: #AFAFAF;
    margin-left: 3vw;
}

#contractParticipantContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F8F8FA;
    /* width: 40vw; */
    height: 13vw;
    padding: 0px;
    /* margin: 1vw 0vw 1vw 0vw; */
    margin-bottom: 1vw;
}

#contractParticipantContent div {
    margin: 0.5vw;
    height: 2vw;
}

#contractParticipantGroup {
    /* display: flex; */
}

#contractParticipantGroup label {
    font-size: 1.5vw;
    margin: 0.5vw;
}

#contractParticipantGroup input {
    font-size: 1.5vw;
    height: 2.5vw;
}


#contractParticipantGroup select {
    font-size: 1.5vw;
    height: 3vw;
    background-color: #E2E3E4;
    text-align: center;
    /* margin-left: 0.5vw; */
    font-size: 2vw;
    width: 18vw;
}

/* 
#contractParticipantContent select {
} */


#contractParticipantGroup input {
    font-size: 1.5vw;
}

#contractParticipantGroup  label {
    font-size: 1.5vw;
}


/* #contractDayToUse {
    width: 20vw;
    height: 2vw;
} */

#contractDescription {
    display: flex;
    justify-content: center;
}

#contractDescription textarea {
    font-size: 2vw;
    text-align: left;
    width: 50vw;
    height: 10vw;
    margin-left: 1vw;
    border-color: #AFAFAF;
}


.contractDescription textarea::placeholder {
    color: #AFAFAF;
}


#contractButton {
    display: flex;
    justify-content: center;
}


#contractButton button {
    outline: 0;
    background-color: transparent;
    border-radius: 1vw;
    font-size: 2vw;
    font-weight: bold;
    color: #AFAFAF;
    margin: 1vw;
}

/* __________________________________________________________________left part */


#confirmProductAndPrice {
    display: flex;
    justify-content: center;
    margin-top: 0.5vw;
}


#confirmProductAndPrice label {
    font-size: 2vw;
}


#confirmProductAndPrice div {
    font-size: 2vw;
    margin-left: 1vw;
}
/* 
#confirmParticipantTitle {
    text-align: center;
    font-size: 2vw;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
}

#confirmPeople {
    margin: 1vw 0vw 0vw 0vw;
    width: 50vw;
}

#contractFontColRight {
    background-color: #F8F8FA;
    width: 10vw;
    height: 13vw;
    padding: 0px;
    margin: 0vw 0vw 1vw 3vw;
}

#confirmParticipantContent {
    width: 30vw;
    height: 13vw;
    background-color: #F8F8FA;
}

#confirmParticipantGroup {
    display: flex;
}

#confirmParticipantGroup label {
    font-size: 1.5vw;
    margin: 1.1vw;
}

#confirmParticipantGroup div {
    font-size: 1.5vw;
    margin: 1.1vw;
}

#confirmDescription {
    text-align: left;
    font-size: 2vw;
    width: 40vw;
    height: 10vw;
    margin-left: 3vw;
    border-color: #AFAFAF;
}

#confirmButton {
    display: flex;
    justify-content: center;
}

#confirmButton button {
    outline: 0;
    background-color: transparent;
    border-radius: 1vw;
    font-size: 2vw;
    font-weight: bold;
    color: #AFAFAF;
    margin: 1vw;
} */