.static-modal {
    border: 20px;
    border-color: black;
}

#createPost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;
}

@media only screen and (min-width: 375px) {
    #createPost {
        margin-top: 15vw;
    }
}

@media only screen and (min-width: 768px) {
    #createPost {
        margin-top: 6vw;
    }
}

#createBackground {
    /* width: 40vw;
   height: 50vw;
   background-image: url("../../images/paperwhite.png");
   background-repeat: no-repeat;
   background-size: 40vw 50vw; */
}

.cinvitation div {
    text-align: center;
    font-size: 3vw;
}

.cname {
    display: flex;
    justify-content: center;
    text-align: center;
}

#cnameCol {
    display: flex;
    justify-content: center;
}

.cname input {
    outline: 0;
    margin: 1vw;
    font-size: 2.5vw;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #AFAFAF;
    width: 40vw;
    /* color:#AFAFAF; */
    /* border: 0px; */
    border-radius: 1vw;
    background-color: transparent;
}

.cname input::placeholder {
    color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    .cname input {
        margin: 1vw;
        font-size: 5vw;
        /* color:#AFAFAF; */
        /* border: 0px; */
        border-radius: 1vw;
    }
}

#imageframestyle {
    /* text-align: center; */
    /* margin: 5px 15px; */
    width: 18vw;
    height: 18vw;
    border-width: 1px;
    border-style: solid;
    border-color: #AFAFAF;
    color: #AFAFAF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    margin: 1vw;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #imageframestyle {
        /* text-align: center; */
        /* margin: 5px 15px; */
        width: 50vw;
        height: 50vw;
        font-size: 3vw;
    }
}

.cphoto div {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin: 5px;
}

.cphoto img {
    max-width: 18vw;
    max-height: 18vw;
    border-width: 1px;
    border-style: solid;
    border-color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    .cphoto img {
        max-width: 25vw;
        max-height: 25vw;
        border-width: 1px;
    }
}

.cphotoName1 {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    /* font-size: 1px; */
}

.cphotoName1 input {
    /* font-size: 1px; */
    /* text-align: right; */
    margin: 0px;
    width: 100px;
    background-color: transparent;
}

.cphotoName1 button {
    color: #AFAFAF;
    background-color: transparent;
    /* border: 0px; */
    border-radius: 0.5vw;
    font-size: 1vw;
    height: 1.5vw;
    width: 8vw;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 768px) {
    .cphotoName1 button {
        border-radius: 0.5vw;
        font-size: 3vw;
        height: 5vw;
        width: 23vw;
    }
}

.cphotoName1 [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 0%;
    min-width: 0%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.ccategory select {
    border-width: 1px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5vw;
    /* background-color: transparent; */
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
    .ccategory select {
        margin-top: 0.5vw;
        font-size: 3vw;
    }
}

.cprice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5vw;
    /* font-size: 1vw; */
}

.cprice h5 {
    font-size: 1.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    .cprice h5 {
        font-size: 4.5vw;
        margin-top: 2vw;
    }
}

.cprice input {
    outline: 0;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    border-style: solid;
    font-size: 1.5vw;
    border-color: #AFAFAF;
    color: black;
    border-width: 1px;
    border-radius: 1vw;
    width: 13vw;
    background-color: transparent;
}

@media only screen and (max-width: 768px) {
    .cprice input {
        font-size: 2.5vw;
        border-width: 1px;
        border-radius: 1vw;
        width: 20vw;
        margin-top: 2vw;
    }
}

.cprice input::placeholder {
    color: #AFAFAF;
}

.cwilling {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 1.5vw;
}

.cwilling h5 {
    font-size: 15px;
    color: #AFAFAF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5vw;
    margin: 0px;
}

@media only screen and (max-width: 768px) {
    .cwilling h5 {
        color: #AFAFAF;
        font-size: 4.5vw;
        margin-top: 2vw;
    }
}

.cwilling input {
    /* text-align: center;
   border: 0px; */
    /* width: 80%; */
    outline: 0;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 21vw;
    font-size: 1.5vw;
    background-color: transparent;
    border-width: 1px;
    border-radius: 1vw;
    background-color: transparent;
    border-color: #AFAFAF;
    color: black;
    border-style: solid;
}

@media only screen and (max-width: 768px) {
    .cwilling input {
        width: 35vw;
        font-size: 2.5vw;
        border-width: 1px;
        border-radius: 1vw;
        margin-top: 2vw;        
    }
}

.cwilling input::placeholder {
    color: #AFAFAF;
}

.cpeople {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 12px;
}

.cpeople h5 {
    font-size: 1.5vw;
    color: #AFAFAF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .cpeople h5 {
        font-size: 4.5vw;
        margin-top: 2vw;
    }
}

.cpeople input {
    /* text-align: center;
   border: 0px; */
    /* width: 80%; */
    outline: 0;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 26vw;
    background-color: transparent;
    font-size: 1.5vw;
    border-width: 1px;
    border-radius: 1vw;
    background-color: transparent;
    border-color: #AFAFAF;
    color: black;
    border-style: solid;
}

@media only screen and (max-width: 768px) {
    .cpeople input {
        width: 43vw;
        font-size: 2.5vw;
        border-width: 1px;
        border-radius: 1vw;
        margin-top: 2vw;
    }
}

.cpeople input::placeholder {
    color: #AFAFAF;
}

.cdescription {
    /* text-align: left;
   margin-top: 10px; */
    /* display: flex;
   flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center;
   margin-top: 10px;
   font-size: 15px; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    margin-top: 10px;
    font-size: 1.5vw;
}

.cdescription h5 {
    font-size: 1.5vw;
    color: #AFAFAF;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    margin-top: 3px;
}

@media only screen and (max-width: 768px) {
    .cdescription h5 {
        font-size: 4.5vw;
        margin-top: 2vw;
    }
}

.cdescription textarea {
    /* width: 100%; */
    /* text-align: center; */
    /* border: 0px; */
    outline: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5vw;
    width: 26vw;
    background-color: transparent;
    border-radius: 0.5vw;
    background-color: transparent;
    border-color: #AFAFAF;
    color: black;
    text-align: left;
    border-style: solid;
}

@media only screen and (max-width: 768px) {
    .cdescription textarea {
        font-size: 2.5vw;
        width: 43vw;
        border-radius: 0.5vw;
        margin-top: 2vw;
    }
}

.cdescription textarea::placeholder {
    color: #AFAFAF;
}

#createPostButton {
    text-align: center;
    margin: 1vw;
}

@media only screen and (max-width: 768px) {
    #createPostButton {
        text-align: center;
        margin: 5vw;
    }
}

#createPostButton button {
    outline: 0;
    margin-top: 2vw;
    width: 15vw;
    background-color: transparent;
    border-width: 1px;
    border-radius: 1vw;
    font-size: 2vw;
    color: #AFAFAF;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
    #createPostButton button {
        width: 50vw;
        height: 10vw;
        background-color: transparent;
        border-width: 1px;
        border-radius: 2.5vw;
        font-size: 5vw;
    }
}