/* .static-modal {
    background-image: url("./picture/pinkpaper.png");
    width: 60vw;
} */

#createPost {
    display: flex;
    justify-content: center;
    align-items: center;
}

#createBackground {
   width: 40vw;
   height: 50vw;
   background-image: url("../../images/paperwhite.png");
   background-repeat: no-repeat;
   background-size: 40vw 50vw;
}

.cinvitation div {
   text-align: center;
   font-size: 50px;
}

.cname {
   display: flex;
   justify-content: center;
   text-align: center;
}

.cname input {
   margin: 5px;
   text-align: center;
   border: 0px;
   background-color: transparent;
}


.imageframestyle {
   /* text-align: center; */
   /* margin: 5px 15px; */
   width: 300px;
   height: 200px;
   border-width: 1px;
   border-style: solid;
   border-color: grey;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cphoto div {
   /* text-align: center; */
   display: flex;
   justify-content: center;
   margin: 5px;
}


.cphoto img {
   max-width: 300px;
   max-height: 200px;
   border-width: 1px;
   border-style: solid;
}

.cphotoName1 {
   display: flex;
   justify-content: flex-end;
   overflow: hidden;
   position: relative;
   /* font-size: 1px; */
}



.cphotoName1 input {
   /* font-size: 1px; */
   /* text-align: right; */
   margin: 0px;
   width: 100px;
   background-color: transparent;
}

.cphotoName1 button {
   background-color: transparent;
   border: 0px;
   font-size: 15px;
   height: 25px;
   width: 8vw;
   margin: 0px;
   padding: 0px;
}

.cphotoName1 [type=file] {
   cursor: inherit;
   display: block;
   filter: alpha(opacity=0);
   min-height: 0%;
   min-width: 0%;
   opacity: 0;
   position: absolute;
   right: 0;
   text-align: right;
   top: 0;
}

.ccategory select {
   text-align: left;
   display: flex;
   justify-content: flex-start;
   font-size: 15px;
   background-color: transparent;
}

.cprice {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   font-size: 12px;
}

.cprice h5 {
   font-size: 15px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 0px;
}

.cprice input {
   display: flex;
   justify-content: flex-start;
   text-align: left;
   border: 0px;
   width: 10vw;
   background-color: transparent;
}

.cwilling {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   font-size: 12px;
}

.cwilling h5 {
   font-size: 15px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 0px;
}

.cwilling input {
   /* text-align: center;
   border: 0px; */
   /* width: 80%; */
   display: flex;
   justify-content: flex-start;
   text-align: left;
   border: 0px;
   width: 15vw;
   background-color: transparent;
}

.cpeople {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   font-size: 12px;
}

.cpeople h5 {
   font-size: 15px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 0px;
}

.cpeople input {
   /* text-align: center;
   border: 0px; */
   /* width: 80%; */
   display: flex;
   justify-content: flex-start;
   text-align: left;
   border: 0px;
   width: 16vw;
   background-color: transparent;
}

.cdescription {
   /* text-align: left;
   margin-top: 10px; */
   /* display: flex;
   flex-direction: row; */
   /* align-items: center; */
   /* justify-content: center;
   margin-top: 10px;
   font-size: 15px; */
   display: flex;
   flex-direction: row;
   /* align-items: center; */
   justify-content: center;
   margin-top: 10px;
   font-size: 15px;
}

.cdescription h5 {
   font-size: 15px;
   display: flex;
   justify-content: flex-end;
   /* align-items: center; */
   margin-top: 3px;
}


.cdescription textarea {
   /* width: 100%; */
   /* text-align: center; */
   /* border: 0px; */
   display: flex;
   justify-content: flex-start;
   align-items: center;
   /* text-align: center; */
   border: 0px;
   width: 18vw;
   background-color: transparent;
}

#createPostButton {
   text-align: center;
}

#createPostButton button {
   background-color: transparent;
   border: 0px;
   font-size: 4.5vw;
}