#detail_contract {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

#shareDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showContractDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#detailPeople {
    margin: 10px;
}