.row {
    width: 100vw;
}

.homeFirstPage {
    background-color: #333333;
    width: 100vw;
    /* height: 100vw; */
}

.titleMargin {
    margin-top: 5vw;
    margin-left: 1vw;
}

.titleMarginLeft {
    margin-left: 1vw;
}

#homeWordWhite {
    color: white;
    font-size: 5vw;
    display: flex;
    align-items: flex-end;
    transform: scale(.8, 1);
}

#homeWe {
    color: #F5E43C;
    font-size: 8vw;
    transform: scale(.8, 1);
}

#homeWe1 {
    color: white;
    font-size: 8vw;
    transform: scale(.8, 1);
}

#clickScroll {
    display: flex;
    justify-content: center;
}

#clickScroll button {
    outline: 0;
    width: 15vw;
    height: 3vw;
    font-size: 1vw;
    margin-top: 2vw;
    margin-bottom: 5vw;
    background-color: transparent;
    color: #F5E43C;
    border-radius: 1.5vw;
    border-color: #F5E43C;
}

#homeAbout {
    background-color: #333333;
    width: 100vw;
}

#homeBottomLine {
    transform: scale(.8, 1);
    /* border-bottom: 5px solid #F5E43C; */
}

#homeBottomLine p {
    width:60vw;
    margin-top: 5vw;
    margin-left: 1vw;
    color: white;
    font-size: 2vw;
}

#homeBottomLine2 {
    border-top: 0.2vw solid #F5E43C;
    width: 17vw;
}

#homeAboutContent {
    transform: scale(.8, 1);
    margin-top: 3vw;
}

#homeAboutContent div {
    margin-left: 5vw;
    color: #D3D6D6;
    font-size: 2vw;
    letter-spacing: 0.3vw;
    line-height: 200%;
}

#homeAboutContent1 {
    margin-top: 3vw;
}

#homeAboutContent2 {
    margin-bottom: 5vw;
}

#homeAboutContent2 div {
    margin-left: 4vw;
    color: #D3D6D6;
    font-size: 2vw;
    letter-spacing: 0.3vw;
    line-height: 200%;
}

.homeSearch {
    margin-top: 3vw;
    margin-bottom: 5vw;
}

#homePostRow {
    display: flex;
    justify-content: center;
}

#homePost {
    width: 10vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333333;
    border: 0.5vw;
    border-radius: 0vw 0vw 1vw 1vw;
}

#homePost div {
    display: flex;
    justify-content: center;
    width: 10vw;
    color: white;
    background-color: #333333;
    font-size: 3.5vw;
}

#homePostBottomLine {
    border-top: 0.2vw solid #F5E43C;
    width: 9vw;
    background-color: #333333;    
}

#homeSearchComponents {
    padding: 0px;
    display: flex;
    justify-content: center;
}

#homeSearchInput {
    padding-left: 12vw;
    padding-right: 0vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#homeSearchInput input {
    width: 40vw;
    height: 2vw;
    border: 2px 0px 2px 2px;
    border-width: 0.15vw 0vw 0.15vw 0.15vw;
    border-radius: 25px 0px 0px 25px;
    border-color: #808282;
    /* border-color: black; */
    text-align: center;
    font-size: 1vw;
    background-color: transparent;
}

#homeSearchInput button {
    background-color: transparent;
    padding: 0px;
    outline: 0;
    width: 3vw;
    height: 2vw;
    font-size: 1vw;
    text-align: center;
    border: 2px 0px 2px 2px;
    border-width: 0.15vw 0.15vw 0.15vw 0vw;
    border-radius: 0vw 0.5vw 0.5vw 0vw;
    border-color: #808282;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: 0;
    /* box-shadow: none; */
    border: 0;
    background-color: transparent;
    
}

select:hover {
    background-color: #D3D6D6;
}

/* #sumbitbutton {
    padding: 0px;
} */

/* Custom Select */

.custom-select {
    /* padding: 0px; */
    width: 8vw;
    height: 2vw;
    /* overflow: hidden; */
    /* text-align: center; */
    margin-left: 1vw;
}

#homeSearchInput select {
    font-size: 1vw ;
    /* font-weight: bold; */
    /* padding: 0px; */
    color: #333333;
    cursor: pointer;
}

.post {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#postright {
    display: flex;
    justify-content: center;
}

#openpost {
    display: flex;
    justify-content: center;
}

#postColumn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3vw;
}

#homeDataPost {
    /* margin: 2vw; */
    /* border-width: 10px;
    border-color: black; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#overflowPost {
    width: 60vw;
    height: 15vw;
    margin: 1vw;
    background-color: #F8F8FA;
    padding: 10px black;
    /* padding: black; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#overflowPostImg {
    padding: 0vw;
}

#overflowPost img {
    padding: 0.5vw;
    /* border-width: 1vw; */
    width: 15vw;
    height: 15vw;
}

#overflowPost h1 {
    margin: 1vw;
    color: #343434;
    font-size: 4vw;
}

#overflowPost h5 {
    margin: 1vw;
    color: #AFAFAF;
    font-size: 1.5vw;
}

 #openpost button {
    color: #343434;
    background-color: transparent;
    font-size: 2vw;
    border-radius: 1vw;
    /* border: 1vw; */
 }

/* .custom-select option {
    text-align: center;
} */

/* .custom-select select::-ms-expand {
    display: none;
} */

/* Arrow */

/* .custom-select::after {
    text-align: center;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    background: #333333;
    pointer-events: none;
} */

/* Transition */

/* .custom-select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
} */


/* .homeUpper {
    padding: 0px;
    width: 69vw;
    margin: 0px 0px 0px 3vw;
    display: flex;
    align-items: center;
}

.homeUpper #homeinput {
    padding: 0px;
    margin-right: 0.8vw;
    display: flex;
    justify-content: flex-end;
}

.homeUpper input {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: right;
    color: #757575;
    border: 0px;
    background-color: transparent;
    outline: 0;
    display: flex;
    justify-content: center;
}

.homeUpper button {
    padding: 0px;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    color: #A2151D;
    font-weight: bold;
    font-size: 5vw;
}

.post {
    width: 60vw;
    margin-right: 0px;
} */

/* click to post button */

/* #openpost {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#openpost #homePost {
    width: 120px;
    height: 168px;
    margin: 10px 5px 5px 5px;
    background-color: transparent;
    background-image: url("../../images/papergreen.png");
    background-repeat: no repeat;
    background-size: 150px 208px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postright {
    padding: 0px;
    margin-top: 50px;
    width: 63vw;
    height: 250px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden; 
}

::-webkit-scrollbar {
    width: 100px;
}

::-webkit-scrollbar-track {
    background: none; 
} */

/* Handle */

/* ::-webkit-scrollbar-thumb {
    background: none; 
} */

/* Handle on hover */

/* ::-webkit-scrollbar-thumb:hover {
    background: white; 
} */

/* .carousel-indicators {
    display: none;
}

.overflowPost {
    width: 200px;
    height: 230px;
    background-color: transparent;
    background-image: url("../../images/paperwhiteshadow.png");
    background-repeat: no repeat;
    background-size: 200px 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overflowPost h1 {
    font-size: 30px;
}

.overflowPost img {
    max-width: 100px;
    max-height: 80px;
    border-width: 1px;
    border-style: solid;
}

.overflowPost h5 {
    font-size: 15px;
    text-align: left;
}

#homePost {
    width: 10vw;
}

#homePost button {
    padding: 0px;
    width: 7vw;
    background-color: transparent;
    outline: 0;
    color: #5F5960;
    font-weight: bold;
    font-size: 2vw;
    border: 3px solid #5F5960;
} */