#inboxRoom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inboxRoomRow {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 5vw;
}

#inboxScrollRoom {
    display: flex;
    flex-direction: row;
}

#inboxList {
    margin: 1vw;
}

#inboxList button {
    background-color: transparent;
    font-size: 2vw;
    border-radius: 1vw;
}

#inboxMessageRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inboxMessage {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inboxContractRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inboxTextSend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#inboxTextSend input {
    outline: 0;
    width: 50vw;
    border-width: 2px 0vw 2px 2px;
    border-color: #343434;
    border-radius: 10px 0px 0px 10px;
}

#inboxTextSend button {
    padding: 1px;
    outline: 0;
    /* width: 50vw; */
    border-width: 2px 2px 2px 2px;
    border-color: #343434;
    border-radius: 0px 10px 10px 0px;
    background-color: transparent;
}

#inboxContract {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inboxLinkContract button {
    margin: 2vw;
    background-color: transparent;
    font-size: 2vw;
    border-radius: 1vw;
}

#realMessage {
    border-width: 5px;
    background-color: #F8F8FA;
}

#realMessage p {
    color: #AFAFAF;
}

#realMessage {
    color: #343434;
}

#inboxDate {
    text-align: right;
    color: #E0E0E1;
}

/* #inboxScrollRoom {
    display: flex;
    flex-direction: row;
} */

/* .inbox {
    background-color: white;
    margin-top: 125px;
    border-radius: 10px;
    width: 780px;
}

#inboxRoom {
}

#inboxRoom h2 {
    color: #5F5861;
    text-align: center;
}

#inboxRoom button {
    color: #5F5861;
    outline: 0;
    background-color: transparent;
    border: 0px;
    font-size: 2vw
}

#inboxScrollRoom {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#inboxList {
    width: 200px;
}

#inboxScrollRoom button {
    width: 200px;
    text-align: left;
    font-size: 15px;
}


#inboxScroll {
    height: 345px;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}

#realMessage #inboxDate {
    text-align: right;
    font-size: 10px;
}

#realMessage h5 {
    margin-left: 5px;
    color: #5F5861;
    font-size: 20px;
}

#inboxMessage {
    border-left: 1px solid #5F5861;
}

#inboxMessage h2 {
    color: #5F5861;
    text-align: center;
}

#inboxMessage input {
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 10px
}

#inboxMessage button {
    color: #5F5861;
    outline: 0;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
}

#inboxLinkContract button {
    margin-left: 100px;
    text-align: right;
    font-weight: bold;
    color: grey;
}

#inboxLinkContract button:hover {
    color: #A2151D;
} */