.inbox {
    background-color: white;
    margin-top: 125px;
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 780px;
    /* height: 345px; */
}

#inboxRoom {
    /* border-right: 1px solid black; */
}

#inboxRoom h2 {
    color: #5F5861;
    text-align: center;
}

#inboxRoom button {
    color: #5F5861;
    outline: 0;
    background-color: transparent;
    border: 0px;
    font-size: 2vw
}

#inboxScrollRoom {
    /* height: 345px; */
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

/* #inboxScrollRoom button {
    width: 100px;
    text-align: right;
 }

#inboxScrollRoom p {
   width: 100px;
   text-align: right;
} */

#inboxScroll {
    height: 345px;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}

#realMessage #inboxDate {
    text-align: right;
    font-size: 10px;
}

#realMessage h5 {
    margin-left: 5px;
    color: #5F5861;
    font-size: 20px;
}

#inboxMessage {
    border-left: 1px solid #5F5861;
    /* padding: 0px; */
}

#inboxMessage h2 {
    color: #5F5861;
    text-align: center;
}

#inboxMessage input {
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 10px
}

#inboxMessage button {
    color: #5F5861;
    outline: 0;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
}

#inboxLinkContract button {
    margin-left: 100px;
    text-align: right;
    font-weight: bold;
    color: grey;
}

#inboxLinkContract button:hover {
    color: #A2151D;
}