/* .popupSignUp input {
    outline: 0;
} */

.modal-dialog {
    /* background-size: 100% 100%; */
    width: 80vw;
    /* height: 50vw; */

}



.text-right button {
    outline: 0;
    background-color: transparent;
    border: 0px;
    font-size: 3vw;
}


#popupSignUpTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    margin: 0px;
}

#poploginRow {
    width: 80vw;
}

#poplogin {
    margin: 1vw;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}


#poplogin h1 {
    margin: 1vw;
    font-size: 3vw;
}

#popemail {
    margin: 1vw;
    width: 80vw;
    display: flex;
    justify-content: center;
}

#popemail input {
    outline: 0;
}

#poppassword {
    margin: 1vw;
    width: 80vw;
    display: flex;
    justify-content: center;
}

#poppassword input {
    outline: 0;     
}

#popclickbox {
    /* font-size: 1vw; */
    margin: 1vw;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #popclickbox label {
    padding: 0px;

}

#popclickbox input {
    width: 3vw;
} */

#popsignin {
    margin: 1vw;
    width: 80vw;
    display: flex;
    justify-content: center;
}

#popsignin button {
    outline: 0;
    /* background-color: transparent; */
    font-size: 1.5vw;
    border-radius: 1vw;
    width: 15vw;
}

#popsignup {
    margin: 1vw;
    width: 80vw;
    display: flex;
    justify-content: center;
}

#popsignup button {
    /* background-color: transparent; */
    outline: 0;
    font-size: 1.5vw;
    border-radius: 1vw;
    width: 15vw;
}
/*
#popemail input {
    border: 0px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin: 10px;
}

#poppassword {
    display: flex;
    justify-content: center;
}

#poppassword input {
    border: 0px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin: 10px;
}

#popclickbox {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#popsignup {
    display: flex;
    justify-content: flex-start;
}

#popsignup button {
    outline: 0;
    margin: 10px;
}

#popsignin {
    display: flex;
    justify-content: flex-end;
}

#popsignin button {
    outline: 0;
    margin: 10px;
} */

/* #popclickbox checkbox {

} */

/* #popsignupfont {
    display: flex;
    justify-content: center;
}

#popsignupfont h1 {
    font-size: 50px;
    margin: 10px;
}

#popsignupemail {
    display: flex;
    justify-content: center;
}

#popsignupemail input {
    border: 0px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

#popsignuppassword {
    display: flex;
    justify-content: center;
}

#popsignuppassword input {
    border: 0px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

#popclickbox {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#popsignup {
    display: flex;
    justify-content: flex-start;
}

#popsignup button {
    margin: 10px;
}

#popsignin {
    display: flex;
    justify-content: flex-end;
}

#popsignin button {
    margin: 10px;
} */