.profile {
    background-color: #F3F3F3;
    margin-top: 3vw;
}

@media only screen and (max-width: 768px) {
    .profile {
        margin-top: 10vw;
    }
}

#profileContentRow {
    display: flex;
    justify-content: center;
    padding-top: 5vw;
}

#profileContent {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
    #profileContent {
        width: 90vw;
    }
}

#fontIcons {
    font-size: 6vw;
    color: #AFAFAF;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #fontIcons {
        font-size: 15vw;
    }
}

#profileContent p {
    margin: 1vw;
    font-size: 1.5vw;
}

@media only screen and (max-width: 768px) {
    #profileContent p {
        margin: 1vw;
        font-size: 3.5vw;
    }
}

#profile_postH1Row {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

#profile_postH1 {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
    #profile_postH1 {
        width: 90vw;
    }
}

#profile_postH1 h1 {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    #profile_postH1 h1 {
        font-size: 5vw;
    }
}

#profile_post {
    /* width: 60vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    #profile_post {
        /* width: 80vw; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

#profilePostContent {
    margin: 0.5vw;
    width: 35vw;
    height: 15vw;
    background-color: #F8F8FA;
}

@media only screen and (max-width: 768px) {
    #profilePostContent {
        margin: 2vw;
        width: 80vw;
        height: 40vw;
    }
}

#profilePostContentImg {
    padding: 0px;
}

#profilePostContent img {
    padding: 1vw;
    width: 15vw;
    height: 15vw;
}

@media only screen and (max-width: 768px) {
    #profilePostContent img {
        padding: 1vw;
        width: 40vw;
        height: 40vw;
    }
}

#profilePostContentData {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 1vw; */
    padding: 1vw;
}

#profilePostContentData h5 {
    font-size: 2.5vw;
}

@media only screen and (max-width: 768px) {
    #profilePostContentData h5 {
        font-size: 8vw;
        margin-left: 2vw;
    }
}

#profilePostContentData p {
    font-size: 1.5vw;
    color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    #profilePostContentData p {
        font-size: 3vw;
        margin-left: 2vw;
    }
}

#profileRatingRow {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

#profileRating {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
    #profileRating {
        width: 90vw;
    }
}

#profileRating h1 {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    #profileRating h1 {
        font-size: 5vw;
    }
}

#profileRatingNN {
    margin: 0.5vw;
    width: 50vw;
    height: 15vw;
    background-color: #F8F8FA;
}

@media only screen and (max-width: 768px) {
    #profileRatingNN {
        margin: 2vw;
        width: 80vw;
        height: 30vw;
    }
}

#profileRatingName {
    margin: 1vw;
    font-size: 2.5vw;
}

@media only screen and (max-width: 768px) {
    #profileRatingName {
        font-size: 5vw;
    }
}

#profileRatingNumber {
    margin: 1vw;
    font-size: 1.5vw;
    color: #AFAFAF
}

@media only screen and (max-width: 768px) {
    #profileRatingNumber {
        font-size: 3.5vw;
    }
}

#profileRatingComment {
    margin: 1vw;
    height: 3.5vw;
    font-size: 1.5vw;
    color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    #profileRatingComment {
        font-size: 2.5vw;
        height: 10vw;
    }
}

#profileRatingDay {
    margin: 1vw;
    font-size: 1vw;
    text-align: right;
    color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    #profileRatingDay {
        font-size: 1.5vw;
    }
}

#profileContractDiv {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

#profileContract {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
    #profileContract {
        width: 90vw;
    }
}

#profileContract h1 {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    #profileContract h1 {
        font-size: 5vw;
    }
}

#profileContractContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profileContractContentP {
    margin: 1vw;
    width: 50vw;
    height: 18vw;
    background-color: #F8F8FA;
}

@media only screen and (max-width: 768px) {
    #profileContractContentP {
        margin: 2vw;
        width: 80vw;
        height: 40vw;
    }
}

#profileContractContentPCreator {
    margin: 1vw;
    font-size: 1vw;
    text-align: right;
    color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    #profileContractContentPCreator {
        font-size: 2vw;
    }
}

#profileContractContentPName {
    margin: 1vw;
    font-size: 2.5vw;
}

@media only screen and (max-width: 768px) {
    #profileContractContentPName {
        font-size: 5vw;
        margin-left: 3vw;
    }
}

#profileContractContentPPrice {
    margin: 1vw;
    font-size: 1.5vw;
    color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    #profileContractContentPPrice {
        font-size: 3.5vw;
        margin-left: 3vw;
    }
}

#profileContractContentPState {
    margin: 1vw;
    font-size: 1.5vw;
    color: #AFAFAF;
}

@media only screen and (max-width: 768px) {
    #profileContractContentPState {
        font-size: 3.5vw;
        margin-left: 3vw;
    }
}

#profileContractContentPAgree {
    margin: 1vw;
    font-size: 1.5vw;
    color: rgb(196, 10, 10);
}

@media only screen and (max-width: 768px) {
    #profileContractContentPAgree {
        font-size: 3.5vw;
        margin-left: 3vw;
    }
}

#profileContractContentPAgreeAfter {
    margin: 1vw;
    font-size: 1.5vw;
    color: green;
}

@media only screen and (max-width: 768px) {
    #profileContractContentPAgreeAfter {
        font-size: 3.5vw;
        margin-left: 3vw;
    }
}