.profile {
    background-color: #F3F3F3;
}

#profileContentRow {
    display: flex;
    justify-content: center;
    padding-top: 5vw;
}

#profileContent {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#fontIcons {
    font-size: 15vw;
    color: #AFAFAF;
    text-align: center;
}

#profileContent p {
    margin: 1vw;
    font-size: 3vw;
}

#profile_postH1Row {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

#profile_postH1 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

#profile_postH1 h1 {
    font-size: 5vw;
    display: flex;
    justify-content: center;
    color: #AFAFAF;
}

#profile_post {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profilePostContent {
    margin: 2vw;
    width: 50vw;
    height: 23vw;
    background-color: #F8F8FA;
}

#profilePostContentImg {
    padding: 0px;
}

#profilePostContent img {
    padding: 1vw;
    /* border-width: 1vw; */
    width: 23vw;
    height: 23vw;
}

#profilePostContentData {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 1vw; */
    padding: 1vw;
}

#profilePostContentData h5 {
    font-size: 3vw;
}

#profilePostContentData p {
    font-size: 2vw;
    color: #AFAFAF;
}

/* #profileRatingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#profileRatingRow {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

#profileRating {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#profileRating h1 {
    font-size: 5vw;
    display: flex;
    justify-content: center;
    color: #AFAFAF;
}

/* #profileRatingDiv {
    margin: 2vw;
    width: 50vw;
    height: 20vw;
    background-color: #F8F8FA;
} */

#profileRatingNN {
    /* display: flex; */
    /* justify-content: center; */
    margin: 2vw;
    width: 50vw;
    height: 20vw;
    background-color: #F8F8FA;
}

#profileRatingName {
    margin: 1vw;
    font-size: 3vw;
}

#profileRatingNumber {
    margin: 1vw;
    font-size: 1.5vw;
    color: #AFAFAF
}

#profileRatingComment {
    margin: 1vw;
    height: 6vw;
    font-size: 1.5vw;
    color: #AFAFAF;
}

#profileRatingDay {
    margin: 1vw;
    font-size: 1vw;
    text-align: right;
    color: #AFAFAF;
}

#profileContractDiv {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

#profileContract {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

#profileContract h1 {
    font-size: 5vw;
    display: flex;
    justify-content: center;
    color: #AFAFAF;
}

#profileContractContent {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profileContractContentP {
    margin: 2vw;
    width: 50vw;
    height: 23vw;
    background-color: #F8F8FA;
}

#profileContractContentPCreator {
    margin: 1vw;
    font-size: 1vw;
    text-align: right;
    color: #AFAFAF;
}

#profileContractContentPName {
    margin: 1vw;
    font-size: 3vw;
}

#profileContractContentPPrice {
    margin: 1vw;
    font-size: 2vw;
    color: #AFAFAF;
}

#profileContractContentPState {
    margin: 1vw;
    font-size: 2vw;
    color: #AFAFAF;
}

#profileContractContentPAgree {
    margin: 1vw;
    font-size: 2vw;
    color: rgb(196, 10, 10);
}

#profileContractContentPAgreeAfter {
    margin: 1vw;
    font-size: 2vw;
    color: green;
}
/* .profile_post {
    width: 300px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.profile {
    background-color: white;
    margin-top: 80px;
}

#profileContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fontIcons {
    font-size: 100px;
}


#profilePostContent {
    width: 150px;
    height: 180px;
    background-color: transparent;
    background-repeat: no repeat;
    background-size: 150px 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profilePostContent img {
    max-width: 80px;
    max-height: 60px;
    border-width: 1px;
    border-style: solid;
}

#profilePostContent p {
    font-size: 10px;
    margin: 0px;
}

#profileRating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profileRatingBottomLine {
    border-bottom: 1px solid grey;
    width: 300px;
}

#profileRating .profileRatingScroll {
    overflow-y: scroll;
}

#profileRating h1 {
    font-size: 20px;
}


#profileRatingName {
    display: flex;
    justify-content: flex-start;
}

#profileRatingNumber {
    display: flex;
    justify-content: flex-start;
}

#profileRatingNumber div {
    width: 80px;
}

#profileContract {
    width: 300px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

#profileContractH1 h1 {
    font-size: 20px;
}
*/