#ratingTitle h1{
    text-align: center;
    font-size: 3vh;
}

h4{
    font-size: 2.5vh;
}

#rate_value {
    padding-left: 10%;
    padding-bottom: 2vh;
}

#ratingClose button{
    float: right;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 0.6vw 0.7vw;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100%;
}

#ratingClose button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#clickbox {
    line-height: 20px;
}

.modal-dialog {
    min-width: 360px;
}

#rate_value_icon {
    width: 50px;
}

#rating_comment {
    padding-bottom: 2vh;
}
#rating_comment textarea{
    height:auto;
    max-width:50vw;
    min-width: 250px;
    min-height:30vh;
    color:#999;
    font-weight:400;
    font-size:2.5vw;
    font-family:'Ubuntu', Helvetica, Arial, sans-serif;
    width:100%;
    background:#fff;
    border-radius:3px;
    line-height:2em;
    border:none;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
    padding:1.5vw 2vw;
}
@media (max-width: 500px) {
    #rating_comment textarea{font-size: 3.4vw;}
  }


#rating_comment button {
    margin-top: 1.5vh;
    background-color: black;
    color: white;
    border: none;
    transition: background-color 0.5s, color 1s ease;
    padding: 1vh 3vh;
    border-radius: 10px;
}

#rating_comment button:hover {
    background-color: white;
    color: black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}