#ratingClose {
    display: flex;
    justify-content: flex-end;
}

#ratingClose button {
    outline: 0;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
}

#ratingTitle {
    display: flex;
    justify-content: center;
}

.num {
    margin: 50px;
    border: 1px solid black;
    border-radius: 10px;
}

.rating {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .rating tbody {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
} */

.rating th {
    width: 50px;
}

.rating td {
    width: 50px;
    /* display: flex; */
}

#rate {
    padding: 0px;
}

#rate p {
    margin-left: 20px;
}

/* .rating p {
    margin-right: 50px;
} */

.comment {
    /* height: 300px; */
    margin-left: 65px;
    width: 496px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comment textarea {
    width: 300px;
    height: 100px;
    background-color: transparent;
}

.submit button {
    outline: 0;
    background-color: transparent;
    border: 0px;
    font-size: 30px;
    color: grey;
    font-weight: bold;
}

.submit button:hover {
    color: #A2151D;
}



/* .content {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

/* .comment input {
    width: 50vw;
} */